/*Обнулення*/
* {
    padding: 0;
    margin: 0;
    border: 0;
}

*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus,
:active {
    outline: none;
}

a:focus,
a:active {
    outline: none;
}

nav,
footer,
header,
aside {
    display: block;
}

html,
body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: 400;
}

/*--------------------*/

@font-face {
    font-family: 'BankGothic Md BT';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/BankGothic\ Md\ BT.ttf') format('truetype');
}


body {
    font-family: "Montserrat";
    font-style: normal;
    font-size: 1.125rem;
    background-color: #000;
}

.wrapper {
    min-height: 100%;
    overflow: clip;
    display: flex;
    flex-direction: column;
}

/* Загальні стилі */

/*Внутрішні посилання з відступом*/
#projects {
    border-top: 8.125rem solid transparent;
    margin-top: -8.125rem;
    padding: 15px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
}

#services {
    border-top: 6.875rem solid transparent;
    margin-top: -6.875rem;
    padding: 15px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
}

.page {
    flex: 1 1 auto;
    position: relative;
}

[class*="__container"] {
    /* Обмежуючий контейнер + відступи */
    max-width: 100rem;
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
    margin: 0 auto;
}

/* Модулі */
.title {
    color: #FFF;
    font-family: Montserrat;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 600;
    line-height: 2.5rem;
}

/* Стилі шапки */
.header {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 50;
    background-color: #000;
}

.header__container {
    position: relative;
    justify-content: space-between;
    align-items: center;
    min-height: 5.625rem;
    min-width: 21.875rem;
    padding-top: 10px;
    padding-bottom: 0.125rem;
}

.header__logo {
    overflow: hidden;
    gap: 0.3125rem;
    display: flex;
    justify-content: center;
    align-items: center;

}

.header__body {
    padding: 3px 0;
    justify-content: center;
    width: 100%;
    background: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(239, 127, 26, 1) 50%, rgba(0, 0, 0, 1) 100%);
    color: #000;
    display: flex;
    align-items: center;
    column-gap: 2.8125rem;
    font-size: 1rem;
    font-weight: 500;
}

.menu__link {
    color: #000;
    font-weight: 600;
    transition: color 0.5s;
}

.menu__link:hover {
    color: #444444;
    text-shadow: 0.5px 0.5px 2px #FFF;
}

.language-icon {
    margin: 3px;
    border-radius: 5px;
    width: 2.5rem;
    border: none;
}

.language-icon:hover {
    border: 2px solid #ef7f1a;
}

.header__container {
    display: grid;
    align-items: center;
    grid-template-columns: 0.5fr 0.55fr;
    grid-template-rows: repeat(3, 27px) 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 3px;
}

.logo__image {
    justify-self: end;
    max-height: 100px;
    grid-area: 1 / 1 / 4 / 2;
    margin-right: 0.9375rem;
}

.text_logo {
    font-family: 'BankGothic Md BT', Arial, Helvetica, sans-serif;
    width: 25rem;
    text-align: center;
    font-weight: 500;
    letter-spacing: 1px;
    font-size: 2.5rem;
    text-transform: uppercase;
    justify-content: center;
    color: #ef7f1a;
    grid-area: 1 / 2 / 2 / 3;
}

.text_logo_service {
    width: 25rem;
    text-align: center;
    font-family: 'BankGothic Md BT', Arial, Helvetica, sans-serif;
    font-size: 2rem;
    color: #FFF;
    grid-area: 2 / 2 / 3 / 3;
}

.text_logo_tel {
    width: 25rem;
    text-align: center;
    font-family: 'BankGothic Md BT', Arial, Helvetica, sans-serif;
    font-size: 2rem;
    color: #ef7f1a;
    grid-area: 3 / 2 / 4 / 3;
}

.nav_buttons {
    padding: 5px;
    grid-area: 4 / 1 / 5 / 3;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    background: linear-gradient(90deg, rgba(239, 127, 26, 0) 0%, rgba(239, 127, 26, 1) 20%, rgba(239, 127, 26, 1) 50%, rgba(239, 127, 26, 1) 80%, rgba(239, 127, 26, 0) 100%);
}

.menu__link {
    font-size: 1.3rem;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.language_buttons {
    display: flex;
    flex-direction: row;
    position: absolute;
    right: 0.625rem;
    top: 0.625rem;
    width: 150px;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}



/* Головна секція */

/* About контент*/

.page__about {
    max-height: fit-content;
    padding-top: 11rem;
    background-color: #000;
}

.about__container {
    display: grid;
    grid-template:
        "a a" max-content
        "b c" max-content / 1fr 1fr;
    margin: auto;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.25rem;
}

.about__content {
    align-self: center;
    grid-area: c;
    color: #FFF;
    min-width: 28.125rem;
    padding: 30px 20px 30px;
}

.about__title {
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 2.5rem;
    text-align: center;
    padding-bottom: 1.25rem;
}

.about__text {
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 1.875rem;
    text-align: justify;
}

.about__text p {
    padding-bottom: 2.5rem;
    text-indent: 1.25rem;
}

.section_logo__text_square {

    --b: 1px;
    --c: #ef7f1a;
    --w: 15px;


    border: var(--b) solid transparent;
    background:
        linear-gradient(var(--c), var(--c)) top left,
        linear-gradient(var(--c), var(--c)) top left,
        linear-gradient(var(--c), var(--c)) bottom right,
        linear-gradient(var(--c), var(--c)) bottom right;
    background-size: var(--b) var(--w), var(--w) var(--b);
    background-origin: border-box;
    background-repeat: no-repeat;

    min-width: 3.75rem;
    max-width: max-content;
    max-height: max-content;
    box-sizing: border-box;
    margin: 5px;
    display: inline-flex;
    font-size: 2.5rem;
    justify-content: center;
    align-items: center;
    line-height: 90px;
}

.section-about-title {
    grid-area: a;
    justify-self: center;
}

.section_logo_text {
    padding: 10px;
    margin: 5px 20px;
    line-height: 1.2rem;
    font-weight: 500;
    color: #ef7f1a;
    text-transform: uppercase;
}

.about_gallery__title {
    padding: 0.3125rem;
    padding-right: 3.125rem;
    position: absolute;
    top: 0px;
    text-align: left;
    font-size: 1.3rem;
    font-weight: 500;
    z-index: 5;
    background: linear-gradient(to right, #ef7f1a 85%, #ef7d1a00);
    color: #000000;
}

/* Слайдер */
.swiper {
    overflow: hidden;
}

.swiper-initialized {
    touch-action: pan-y;
}

.slider-about__wrapper {
    display: flex;
    box-sizing: content-box;
}

.slider-about__slide {
    aspect-ratio: 675 / 610;
    position: relative;
    opacity: 1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
}

.about__slider {
    position: relative;
    max-width: 38.75rem;
    justify-self: end;
}

.slider-about__pagination {
    padding: 1rem;
    gap: 0.5625rem;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    justify-content: center;
}

.slider-about__pagination .swiper-pagination-bullet {
    flex: 0 0 0.5rem;
    height: 8px;
    background-color: #FFF;
    border-radius: 50%;
    cursor: pointer;
    opacity: 0.4;
}

.slider-about__pagination .swiper-pagination-bullet-active {
    opacity: 1;
}

/*Секція Послуги*/
.services__container {
    padding-top: 2.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.services__content {
    font-family: BankGothic Md BT;
    text-align: center;
    font-size: 2.8125rem;
    letter-spacing: 0.1875rem;
    line-height: 3.4375rem;
    font-weight: 400;
    color: #FFF;
}

/* Секція Реалізації */
.page__projects {
    padding-top: 2.5rem;
}

.projects__container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-projects-title {
    margin-bottom: 2.5rem;
}

.projects_gallery__title {
    padding: 0.3125rem;
    padding-right: 3.125rem;
    position: absolute;
    text-align: left;
    font-weight: 500;
    z-index: 5;
    background: linear-gradient(to right, #ef7f1a 85%, #ef7d1a00);
    color: #000000;
    font-size: 1.3rem;
}

/* Gallery Slider */

.swiper-initialized {
    touch-action: pan-y;
}

.project-all-slider {
    overflow: hidden;
    width: 100%;
    position: relative;
}

.slider-all-projects__wrapper {
    position: relative;
    display: flex;
}


/*Внутрішній слайдер*/
.slider-projects__wrapper {
    box-sizing: content-box;
    display: flex;
}

.slider-slider__slide {
    aspect-ratio: 800 / 600;
    position: relative;
    opacity: 1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
}

.project-image-slider {
    position: relative;
    max-width: 50rem;
    max-height: 31.25rem;
    justify-self: end;
}

.slider-projects__pagination {
    position: absolute;
    padding: 1rem;
    gap: 0.5625rem;
    bottom: 0;
    left: 0;
    width: 100%;
    justify-content: center;
}

.slider-projects__pagination .swiper-pagination-bullet {
    flex: 0 0 0.5rem;
    height: 1.25rem;
    width: 1.25rem;
    background-color: #fff;
    border-radius: 50%;
    cursor: pointer;
    opacity: 0.7;
}

.slider-projects__pagination .swiper-pagination-bullet-active {
    opacity: 1;
}


.project-all-slider .swiper-button-prev::after,
.project-all-slider .swiper-button-next::after {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    color: #ef7f1a;
    font-size: 5rem;
}

/*Футер*/
.footer {
    padding-top: 2.5rem;
}

.footer__container {
    position: relative;
}

.footer-section__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer-section-content__logo {
    width: 3.125rem;
    height: auto;
}

.footer-section__block {
    margin: 0.625rem;
}

.footer_text_tel a {
    color: #FFF;
    font-family: "BankGothic Md BT", Arial, Helvetica, sans-serif;
    font-size: 2.5rem;
    font-weight: 500;
}

.footer_text_mail a {
    color: #ef7f1a;
    font-family: "BankGothic Md BT", Arial, Helvetica, sans-serif;
    font-size: 1.6rem;
    font-weight: 500;
    padding: 0.625rem 1.875rem;
}

.footer_text_fb a {
    display: none;
    /* Прибрать коли буде сторінка у Facebook */
    color: #FFF;
    font-family: "BankGothic Md BT", Arial, Helvetica, sans-serif;
    font-size: 2rem;
    font-weight: 500;
}


.footer__logo {
    font-size: 1rem;
    color: #FFF;
    position: static;
    text-align: end;
}

.footer-section__block a:hover {
    text-decoration: underline;
}

.footer__logo a {
    color: #ef7f1a;
    position: static;
    text-align: end;
}

.footer__logo a:hover {
    color: #ffa454;
    text-decoration: underline;

}

@media (max-width: 66.875rem)
/*1070px*/
    {
    .section_logo__text_square {
        font-size: 1.5rem;
    }

    .page__about {
        padding-top: 9.375rem;
    }

    .about__container {
        gap: 0.3125rem;
        justify-items: center;
        align-items: center;
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 0;
        padding: 0.3125rem;
    }


    .about__content {
        padding: 1.875rem 0.9375rem 0.9375rem 0.3125rem;
        min-width: 18.75rem;
        justify-self: left;
        width: 100%;
        gap: 0.3125rem;
        margin-left: 0.625rem;
        margin-right: 0.625rem;
    }

    .about__slider {
        position: relative;
        width: 100%;
        justify-self: end;

    }

    .about__text {
        font-size: 0.9375rem;
        font-weight: 500;
        line-height: 1.25rem;
        text-align: justify;
    }

    .about__text p {
        padding-bottom: 0.9375rem;
        text-indent: 0.9375rem;
    }

    .project-image-slider {
        max-width: 100%;
    }
}

@media (max-width: 48em)
/*768px*/
    {

    .text_logo,
    .text_logo_service,
    .text_logo_tel {
        line-height: 0.5;
    }

    .header__container {
        padding-left: 5px;
        padding-right: 5px;
        display: grid;
        grid-template-columns: 200px 1fr 40px;
        grid-template-rows: repeat(4, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
    }

    .logo__image {
        grid-area: 1 / 1 / 4 / 2;
        max-width: 180px;
    }

    .text_logo {
        font-size: 3rem;
        justify-self: center;
        grid-area: 1 / 2 / 2 / 3;
    }

    .text_logo_service {
        font-size: 2rem;
        justify-self: center;
        grid-area: 2 / 2 / 3 / 3;
    }

    .text_logo_tel {
        font-size: 2rem;
        justify-self: center;
        grid-area: 3 / 2 / 4 / 3;
    }

    .language_buttons {
        display: flex;
        flex-direction: column;
        align-items: end;
        grid-area: 1 / 3 / 4 / 4;
    }

    .nav_buttons {

        background: linear-gradient(90deg, rgba(239, 127, 26, 0.10407913165266103) 0%, rgba(239, 127, 26, 1) 5%, rgba(239, 127, 26, 1) 50%, rgba(239, 127, 26, 1) 95%, rgba(239, 127, 26, 0.053658963585434205) 100%);
        grid-area: 4 / 1 / 5 / 4;
    }

    .menu__link {
        font-size: 1rem;
    }

    .language-icon {
        width: 2.1875rem;
        margin: 5px;
    }

    .page__about {
        padding-top: 10rem;
    }


}

@media (max-width: 36.75em)
/*588px*/
    {
    .header__container {
        grid-template-columns: 150px 1fr 40px;
    }

    .text_logo,
    .text_logo_service,
    .text_logo_tel {
        width: 21.875rem;
    }

    .text_logo_service,
    .text_logo_tel {
        font-size: 1.7rem;

    }

    .logo__image {
        max-width: 8.125rem;
        margin-right: 0.3125rem;
    }

    .page__about {
        padding-top: 8.125rem;
    }

}

@media (max-width: 30.9375em)
/*495px*/

    {
    .logo__image {
        max-width: 9.375rem;

    }

    .text_logo,
    .text_logo_service,
    .text_logo_tel {
        width: 18.75rem;
    }

    .text_logo_service,
    .text_logo_tel {
        font-size: 1.5rem;
    }

    .footer-section__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-items: center;
    }

    .footer_text_tel a {
        font-size: 2rem;
    }

    .footer_text_fb a {
        font-size: 1.5rem;
    }

    .footer__logo {
        font-size: 0.7rem;
    }

    .page__about {
        padding-top: 9.375rem;
    }

}

@media (max-width: 28.125em)
/*450px*/
    {

    .text_logo,
    .text_logo_service,
    .text_logo_tel {
        width: 16.875rem;
    }

    .header__container {
        grid-template-columns: 120px 1fr 40px;
    }

    .logo__image {
        max-width: 6.875rem;
        margin-right: 0.3125rem;
    }

    .text_logo {
        font-size: 2.5rem;
    }

    .text_logo_service,
    .text_logo_tel {
        font-size: 1.4rem;
    }

    .menu__link {
        font-size: 1rem;
    }

    .nav_buttons {
        gap: 0.9375rem
    }

    .language-icon {
        width: 1.875rem;
        margin: 0.1875rem;

    }

    .page__about {
        padding-top: 8.125rem;
    }

}


@media (max-width: 396px)
/*396px*/
    {

    .text_logo,
    .text_logo_service,
    .text_logo_tel {
        width: 230px;
    }

    .header__container {
        grid-template-columns: 100px 1fr 40px;
    }

    .logo__image {
        max-width: 95px;

    }

    .text_logo {
        font-size: 2.2rem;
    }

    .text_logo_service,
    .text_logo_tel {
        font-size: 1.2rem;
    }

    .menu__link {
        font-size: 0.9rem;
    }

    .nav_buttons {
        gap: 0.9375rem
    }

    .page__about {
        padding-top: 7.5rem;
    }
}